{
    "bot": {
        "client_id": "",
        "token": "",
        "debug": "",
        "announcement": "",
        "developer": [
            ""
        ]
    },
    "openexchangerates": {
        "key": ""
    },
    "qrcode": {
        "out_dir": "/tmp/qrcode-dc/",
        "max_temp_files": 100
    }
}
